.focused-app {
  margin-left: 0px;
  margin-right: 8px;
  border-radius: 0px;
  padding: 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  border-right: 0px hidden;
  border-bottom: 2px hidden;
  border-left: 0px hidden;
}

.unfocused-app {
  margin-left: 0px;
  margin-right: 8px;
  border-radius: 0px;
  padding: 0px;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-right: 0px hidden;
  border-bottom: 2px hidden;
  border-left: 0px hidden;
}

.hidden-app {
  margin-left: 0px;
  margin-right: 8px;
  border-radius: 0px;
  padding: 0px;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-right: 0px hidden;
  border-bottom: 2px hidden;
  border-left: 0px hidden;
}

.desk-label-active {
  margin-left: 8px;
  margin-right: 12px;
  background-color: rgba(127, 127, 127, 0.8);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.desk-label-inactive {
  margin-left: 8px;
  margin-right: 12px;
  background-color: rgba(127, 127, 127, 0.4);
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
